.fbtpfw_main {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* display: inline-block; */
    /* float: left; */ 
}
.fbtpfw_main a {
    text-decoration: none;
    border: none;
    box-shadow: none !important;
}
.fbtpfw_main ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}
.fbtpfw_price_old {
    color: #9d9595;
    text-decoration: line-through;
    margin-right: 10px;
}
.fbtpfw_price_new {
    font-weight: 600;
}
.dss{
    pointer-events: none;
    outline: none;
    background: #777777!important;
    color: #ffffff!important;
}
.fbtpfw_cart_div {
    width: 100%;
    display: inline-block;
    margin: 10px 0px;
}
.fbtpfw_price {
    width: 100%;
    display: flex;
    margin: 15px 0px;
}
.fbtpfw_price_label {
    display: inline-block;
}
input.occp_add_cart_button.button {
    font-size: 15px;
}
/******************layout 1****************/
.layout1 h3 {
    font-size: 34px;
    margin: 15px 0;
}
.layout1 .fbtpfw_img_div {
    height: 70px;
    width: 70px;
    position: relative;
    margin: 0 auto;
}
.layout1 .fbtpfw_div input[type="checkbox"] {
    width: 1em;
}
.layout1 .fbtpfw_product_image {
    width: 70px;
    flex: 0 0 70px;
}
.layout1 .fbtpfw_product_image img {
    width: 70px;
    max-width: 100%;
    height: auto;
    display: block;
}
.layout1 .fbtpfw_product_title {
    font-size: 16px;
    color: #000;
    font-weight: 700;
    flex-grow: 1;
}
.layout1 .fbtpfw_product_price {
    font-size: 16px;
    width: 200px;
    flex: 0 0 200px;
    max-width: 200px;
    text-align: right;
}
.layout1 .fbtpfw_each_item {
    display: flex;
    align-items: center;
    border-bottom: 1px dotted #e5e5e5;
}
.layout1 .fbtpfw_each_item > div {
    padding: 10px 10px 10px 0;
}
/*************end layout 1***************/


/*********layout 2 & shortcode***********/
.layout2 h3 {
    font-size: 34px;
    margin: 15px 0;
}
.fbtpfw_main.layout2 {
    width: 100%;
    display: flex;
    margin-bottom: 30px;
    position: relative;
    z-index: 9999;
}
table.fbtpfw_product_images {
    width: auto;
    display: flex;
    flex-direction: column;
    /*display: inline-block;
    float: left;*/
    margin: 0;
    padding: 0;
    border: none;
    overflow: initial;
}
form.fbtpfw_product_form {
    display: flex;
    flex-direction: column;
}
.layout2 .fbtpfw_product_images tr td {
    border: none;
    position: relative;
    padding: 0px;
    text-align: center;
    vertical-align: middle;
}
.layout2 .fbtpfw_product_images td.fbtpfw_img_plus {
    width: 20px;
    text-align: center;
   /* padding: 0 10px;*/
    font-size: 20px;
    font-weight: bold;
}
.layout2 table tr {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.layout2 .fbtpfw_product_images td.fbtpfw_img img {
    background-color: #FFF;
    padding: 5px;
    margin: 0 auto;
    width: 130px;
    height: auto;
}
.layout2 .fbtpfw_img_div {
    position: relative;
    margin: 0 auto;
}
.layout2 .fbtpfw_cart_div {
    width: auto;
    margin: 15px 0px 15px 0px;
}
.layout2.fbtpfw_main ul {
    width: 100%;
}
.fbtpfw_each_item {
    margin: 5px 0;
}
.layout2 .fbtpfw_ul input {
    width: 1em;
}
.layout2 .fbtpfw_badge {
    text-transform: uppercase;
    position: absolute;
    top: -16px;
    right: -8px;
    z-index: 9999999;
    border-radius: 100%;
    padding: 2px 2px;
    border: 2px solid #eb1818;
    display: flex;
}
.layout2 .fbtpfw_badge > span {
    color: #fff;
    background-color: #eb1818;
    width: 35px;
    vertical-align: middle;
    height: 35px;
    line-height: 10px;
    margin-top: 0px;
    font-size: 8px;
    display: inline-block;
    border-radius: 100%;
    padding-top: 6px;
}
.layout2 .fbtpfw_badge p {
    margin: 0px 0px 2px 0px;
}
.layout2 table.fbtpfw_product_images tr td:first-child {
    padding-left: 0px!important;
}
/*******end layout 2 & shortcode*******/



.oc_cust_variation {
    display: inline-flex;
    align-items: center;
    margin: 0px 15px;
}
.oc_cust_variation .variation {
    display: inline-flex;
    align-items: center;
    font-weight: bold;
}
.oc_cust_variation select {
    padding: 3px 35px 3px 20px;
}
.label {
    margin: 0px 5px;
}
.oc_cust_variation .variations {
    display: flex;
    align-items: center;
}



@media only screen and (max-width: 767px) { 
    /******************layout 1****************/
    .layout1 .fbtpfw_each_item {
        align-items: center;
        flex-direction: column;
        padding: 20px 0;
    }
    .layout1 .fbtpfw_each_item > div {
        padding: 5px 0 !important;
        width: auto !important;
        flex-basis: 0 !important;
        max-width: 100% !important;
    }
    .layout1 .fbtpfw_product_image img {
        display: block;
        margin: 0 auto;
        width: 80px;
    }

    .oc_cust_variation .variations {
        display: inline-block;
        width: 100%;
    }
    .oc_cust_variation .variation {
        margin-bottom: 10px;
    }
    /******************end layout 1****************/
}